a {color: unset;}
a:visited {color: unset;}
a.expand {display: block; width: 100%; height: 100%;}
ul > li:before {content: "- ";}

@media (prefers-color-scheme: dark) {
	body {background-color: #111111;}
	hr {border: 0; border-top: 1px solid #AAAAAA;}
	.header {color: #19A974;}
	.content {color: #AAAAAA;}
	.contact {background-color: #137752; color: #FFFFFF;}
}

@media (prefers-color-scheme: light) {
	body {background-color: #F4F4F4}
	hr {border: 0; border-top: 1px solid #000000;}
	.header {color: #00449E;}
	.content {color: #000000}
	.contact {background-color: #00449E; color: #FFFFFF;}
}

