a {color: unset;}
a:visited {color: unset;}
ul > li:before {content: "- ";}

@media (prefers-color-scheme: dark) {
	body {background-color: #111111;}
	hr {border: 0; border-top: 1px solid #AAAAAA;}
	.header {color: #19A974;}
	.content {color: #AAAAAA;}
}

@media (prefers-color-scheme: light) {
	body {background-color: #F4F4F4}
	hr {border: 0; border-top: 1px solid #000000;}
	.header {color: #00449E;}
	.content {color: #000000}
}