html{font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;}
.container {max-width: 64rem; margin: auto;}
.hll pre, code, .title {font-family: "Fira Mono", monaco, monospace;}
.hll {background-color: #202020; overflow: scroll; padding: 0rem 1rem 0rem 1rem;}
.logo {width: 32px; height: 32px;}
a {color: unset;}
a:visited {color: unset;}
@media (prefers-color-scheme: dark) {
	body, html {background-color: #111111;}
	hr {border: 0; border-top: 1px solid #AAAAAA;}
	.active {color: #137752;}
	.card {background-color: #AAAAAA; color: #111111;}
	.card i{color: #111111;}
	.card h2 a{color: #111111;}
	.content {color: #AAAAAA;}
	.content a{color: #19A974;}
	.header {color: #19A974;}
	.tagline {color: #19A974;}
	.thumbnail{border: 1px #AAAAAA solid;}
	.title {color: #AAAAAA;}
}
@media (prefers-color-scheme: light) {
	body, html {background-color: #F4F4F4}
	hr {border: 0; border-top: 1px solid #000000;}
	.active {color: #001b44;}
	.card {background-color: #000000; color: #F4F4F4;}
	.card i{color: #F4F4F4;}
	.card h2 a{color: #F4F4F4;}
	.content {color: #000000}
	.content a{color: #00449E;}
	.header {color: #00449E;}
	.tagline {color: #00449E;}
	.thumbnail{border: 1px #000000 solid;}
	.title {color: #000000;}
}
