{% macro render_blog_post(post, from_index=false) %}
<article class="ba mv4">
  <div>
    <div class="card pv2 ph2">
      <h2 class="mv0 truncate"><a class="link" href="{{ post|url }}">{{ post.title }}</a></h1>
    </div>
    <div class="flex flex-column ph2 pb2">
      <p class="mt2 mb2 lh-copy">{{ post.summary }}</p>
      <p class="lh-copy mv0"><i class="fa fa-fw fa-user" aria-hidden="true"></i> {{ post.author }}</p>
      <p class="lh-copy mv0"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{ post.pub_date }}</p>
    </div>
  </div>
</article>
{% endmacro %}
