{% macro render_pagination(pagination) %}
  <div class="pagination mw6 center flex justify-around">
    {% if pagination.has_prev %}
      <div class="w-50 tc mh2"><a class="link dim" href="{{ pagination.prev|url }}"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous Page</a></div>
    {% else %}
      <div class="w-50 tc mh2"><span class="disabled"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous Page</span></div>
    {% endif %}

    {% if pagination.has_next %}
      <div class="w-50 tc mh2"><a class="link dim" href="{{ pagination.next|url }}">Next Page <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
    {% else %}
      <div class="w-50 tc mh2"><span class="disabled">Next Page <i class="fa fa-angle-right" aria-hidden="true"></i></span></div>
    {% endif %}
  </div>
{% endmacro %}