{% macro render_project(post, from_index=false) %}
<article class="center hidden ba mv4">
    <div class="card flex">
        <div class="w-70"><h1 class="f4 mv0 pv2 ph2"><a class="link dim" href="{{ post|url }}">{{ post.title }}</a></h1></div>
        <div class="w-30"><h1 class="f4 tr mv0 pv2 ph2"><a class="link dim" href="{{ post.project_link }}"><i class="fa fa-github" aria-hidden="true"></i></a></h1></div>
    </div>
    <div class="pa2">
        <p class="f6 mv0 lh-copy measure"> Dolorem ipsam nulla quo deleniti. Eligendi voluptatem aliquid ad. Animi aut eligendi ullam sit ut impedit sit repudiandae. Reprehenderit inventore ullam non dolor aperiam. {{ post.summary }}</p>
    </div>
</article>
{% endmacro %}