{% extends "base.html" %}

{% block content %}
<h1 class="title">Home</h1>
<article class="center">
  <div class="aspect-ratio aspect-ratio--16x9 mb4">
    <div class="aspect-ratio--object cover hero" style="background:url({{ get_url(path='images/about.jpg') }}) center;"></div>
  </div>
</article>
<article class="center tj measure-wide">{{ page.content | safe }}</article>
<div class="flex flex-row-ns flex-column justify-center items-start">
  <div class="dib mv2 mr3"><i class="ti ti-mail"> </i><a class="link dim" href="mailto:me@nao.id.au">Email</a></div>
  <div class="dib mv2 mr3"><i class="ti ti-brand-telegram"> </i><a class="link dim" href="https://t.me/naomi_deakin">Telegram</a></div>
  <div class="dib mv2 mr3"><i class="ti ti-brand-cohost"> </i><a rel="me" class="link dim" href="https://cohost.org/nao">cohost</a></div>
  <div class="dib mv2 mr3"><i class="ti ti-brand-mastodon"> </i><a rel="me" class="link dim" href="https://aus.social/@nao">Mastodon</a></div>
  <div class="dib mv2"><i class="ti ti-brand-instagram"> </i><a rel="me" class="link dim" href="https://pixelfed.au/@nao">Pixelfed</a></div>
</div>
{% endblock content %}