{% extends "base.html" %}
{% block content %}
<h1 class="title">{{ section.title }}</h1>  
<div class="flex flex-wrap items-start">
{% for page in paginator.pages %}
  <article class="gallery-content w-100 w-50-m w-25-ns">
    <a class="dim gallery-content" href="{{ page.permalink | safe }}"><div class="aspect-ratio aspect-ratio--1x1 gallery-content"><img style="background-image:url({{ page.extra.cover_url | safe }});" class="db bg-center cover aspect-ratio--object gallery-content" /></div></a>
  </article>
{% endfor %}
</div>
<hr>
<div class="pagination flex align-end justify-between mv3">
  {% if paginator.previous %}
    <a class="previous link dim" href="{{ paginator.previous }}"><i class="ti ti-caret-left-filled"> </i>Previous</a>
  {% else %}
    <span class="previous"><i class="ti ti-caret-left"> </i>Previous</span>
  {% endif %}
  {% if paginator.next %}
    <a class="next link dim" href="{{ paginator.next }}">Next <i class="ti ti-caret-right-filled"></i></a>
    {% else %}
    <span class="next">Next <i class="ti ti-caret-right"></i></span>
  {% endif %}
</div>
{% endblock content %}