{% extends "base.html" %}
{% block content %}
<h1 class="title">{{ section.title }}</h1>  
<div class="flex items-start">
{% for page in paginator.pages %}
<article class="w-100 w-50-m  w-25-ns pa2-ns">
  <div class="aspect-ratio aspect-ratio--1x1">
    <img style="background-image:url({{ get_url(path='images/cover.jpg') }});" class="db bg-center cover aspect-ratio--object" />
  </div>
  <a href="{{ page.permalink | safe }}" class="ph2 ph0-ns pb3 link db">
    <h3 class="f5 f4-ns mb0">{{ page.title }}</h3>
    <h3 class="f6 f5 fw4 mt2">{{ page.summary }}</h3>
  </a>
</article>
{% endfor %}
</div>
<hr>
<div class="pagination flex align-end justify-between mv3">
  {% if paginator.previous %}
    <a class="previous link dim" href="{{ paginator.previous }}"><i class="ti ti-caret-left-filled"> </i>Previous</a>
  {% else %}
    <span class="previous"><i class="ti ti-caret-left"> </i>Previous</span>
  {% endif %}
  {% if paginator.next %}
    <a class="next link dim" href="{{ paginator.next }}">Next <i class="ti ti-caret-right-filled"></i></a>
    {% else %}
    <span class="next">Next <i class="ti ti-caret-right"></i></span>
  {% endif %}
</div>
{% endblock content %}