{% extends "base.html" %}

{% block content %}
<h1 class="title">{{ section.title }}</h1>
{% for page in paginator.pages %}
<article>
  <h2 class="lh-title"><a href="{{ page.permalink | safe }}">{{ page.title | safe }}</a></h2>
  <span class="f6 lh-copy"><i title="Date" class="ti ti-calendar"> </i>{{ page.date | safe }}</span>
  <span class="f6 lh-copy"><i title="Reading Time" class="ti ti-book-2"> </i>{{ page.reading_time | safe }} minutes</span>
  <div class="tj">{{ page.summary | safe }}</div>
</article>
{% endfor %}
<div class="pagination flex align-end justify-between mv3">
  {% if paginator.previous or paginator.next %}
    <hr>
  {% endif %}
  {% if paginator.previous %}
    <a class="previous link dim" href="{{ paginator.previous }}"><i class="ti ti-caret-left-filled"> </i>Previous</a>
  {% endif %}
  {% if paginator.next %}
    <a class="next link dim" href="{{ paginator.next }}">Next <i class="ti ti-caret-right-filled"></i></a>
  {% endif %}
</div>
{% endblock content %}

{% block sidebar %}
  <h3>yo bro</h3>
{% endblock sidebar %}