<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ this.title }} - Naomi's Blog</title>
  <meta property="og:title" content="{{ this.title }} - Naomi's Blog">
  <meta property="og:description" content="{{ this.summary }}">
  <meta property="og:type" content="article">
  <meta property="og:image" content="{{ '/static/img/favicon/android-chrome-512x512.png'|url }}">
  <meta property="og:url" content="https://nao.id.au/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/img/favicon/apple-touch-icon.png'|url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/img/favicon/favicon-32x32.png'|url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/img/favicon/favicon-16x16.png'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/tachyons.min.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/main.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/fork-awesome.min.css'|url }}">
  <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
</head>
<body>
  <header class="center flex items-center mw6 ph2">
    <img class="h2 logo pr2 pv2" src="{{ '/static/img/favicon/favicon-32x32.png'|url }}" alt="Website logo">
    <h1 class="f3 lh-title title tracked truncate">Naomi's Stuff</h1>
  </header>
  <nav class="center flex header justify-around mw6 ">
    <div {% if this._path == '/' %} class="active mh2 tc w-20" {% else %} class="mh2 tc w-20" {% endif%}>
      <p><a class="dim link" href="{{ '/'|url }}">Home</a></p></div>
        {% for href, title in [
          ['/about', 'About'],
          ['/projects', 'Projects'],
          ['/blog', 'Blog']
        ] %}
          <div {% if this.is_child_of(href) %} class="active mh2 tc w-20" {% else %} class="mh2 tc w-20" {% endif
            %}><p><a class="dim link" href="{{ href|url }}">{{ title }}</a></p></div>
       {% endfor %}
  </nav>
  <hr class="center mw6">
  <main class="center content mw6 ph2 ph0-ns">
    {% block body %}{% endblock %}
  </main>
  <hr class="center mw6">
	<footer class="center footer mid-gray mv3 mw6 tc">
    <small class="f6"><a class="dim link mid-gray" href="/copyright/">© Naomi Deakin</a> – <a class="dim link mid-gray" href="/attribution/">Attribution</a></small>
  </footer>
</body>
</html>