<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ this.title }} - Naomi's Stuff</title>
  <meta property="og:title" content="{{ this.title }} - Naomi's Stuff">
  <meta property="og:description" content="{{ this.description }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ '/static/img/favicon/android-chrome-512x512.png'|url }}">
  <meta property="og:url" content="https://nao.id.au/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/img/favicon/apple-touch-icon.png'|url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/img/favicon/favicon-32x32.png'|url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/img/favicon/favicon-16x16.png'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/tachyons.min.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/main.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/fonts/fira-sans/fira-sans.css' }}">
  <link rel="stylesheet" href="{{ '/static/fonts/fira-mono/fira-mono.css' }}">
  <link rel="stylesheet" href="{{ '/static/css/fork-awesome.min.css'|url }}">
</head>
<body>
  <div class="center flex items-center justify-between mw8">
  <header class="flex items-center ph2 w-40-ns">
    <img class="h2 logo pr2 pv2" src="{{ '/static/img/favicon/favicon-32x32.png'|url }}" alt="Website logo">
    <h1 class="di-ns dn f3 lh-title title tracked truncate">Naomi's Stuff</h1>
  </header>
  <nav class="flex header justify-between w-100 w-50-ns">
    <div {% if this._path == '/' %} class="active mh2 tc w-25" {% else %} class="mh2 tc w-25" {% endif%}>
      <p><a class="dim link" href="{{ '/'|url }}">Home</a></p></div>
        {% for href, title in [
          ['/about', 'About'],
          ['/projects', 'Projects'],
          ['/blog', 'Blog']
        ] %}
          <div {% if this.is_child_of(href) %} class="active mh2 tc w-25" {% else %} class="mh2 tc w-25" {% endif
            %}><p><a class="dim link" href="{{ href|url }}">{{ title }}</a></p></div>
        {% endfor %}
  </nav>
  </div>
  <hr>
  <main class="center content mw8 ph2 tl">
    {% block body %}{% endblock %}
  </main>
  <hr>
  <div class="content ph2 tc">
    {% block pagination %}{% endblock %}
  </div>
  <hr>
	<footer class="footer mid-gray mv3 tc">
    <small class="f6"><a class="dim link mid-gray" href="/copyright/">© Naomi Deakin-Thomas</a> – <a class="dim link mid-gray" href="/attribution/">Attribution</a></small>
  </footer>
</body>
</html>
