<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>nao.id.au</title>
  <meta property="og:title" content="nao.id.au">
  <meta property="og:description" content="Naomi's Stuff">
  <meta property="og:image" content="{{ '/static/img/favicon/android-chrome-512x512.png'|url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/img/favicon/apple-touch-icon.png'|url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/img/favicon/favicon-32x32.png'|url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/img/favicon/favicon-16x16.png'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/tachyons.min.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/main.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/fork-awesome.min.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/highlight.min.css'|url }}">
</head>
<body>
  <div class="logo ph2 mw6 center tl flex justify-between">
    <h1 class="title mh2 tracked lh-title f3">nao.id.au</h1>
  </div>
  <div class="header mw6 center flex justify-around">
    <div {% if this._path == '/' %} class="active w-20 tc mh2" {% else %} class="w-20 tc mh2" {% endif%}>
      <p><a class="link dim" href="{{ '/'|url }}">Home</a></p></div>
        {% for href, title in [
          ['/about', 'About'],
          ['/projects', 'Projects'],
          ['/blog', 'Blog']
        ] %}
          <div {% if this.is_child_of(href) %} class="active w-20 tc mh2" {% else %} class="w-20 tc mh2" {% endif
            %}><p><a class="link dim" href="{{ href|url }}">{{ title }}</a></p></div>
        {% endfor %}
    </div>
  <hr class="mw6 center">
  <div class="content ph2 mw6 center">
    {% block body %}{% endblock %}
  </div>
  <hr class="mw6 center">
	<footer class="footer mw6 mv3 tc center mid-gray">
    <small class="f6"><a class="link mid-gray dim" href="https://github.com/installwitch">© Naomi Deakin</a> – <a class="link mid-gray dim" href="https://github.com/installwitch/site/blob/master/README.md">Licensed under MIT</a></small>
  </footer>
  <script src="{{ '/static/js/highlight.min.js'}}"></script>
  <script>hljs.highlightAll();</script>
</body>